 /* -----------------------------common css section */
 
 body {
     font-family: 'Spline Sans', sans-serif;
     margin: 0 auto;
 }
 
 .orange-font {
     color: orangered;
     font-weight: bolder;
 }
 
 .clear-div {
     clear: both;
 }
 
 hr {
     width: 90%;
     margin-top: -99px;
     margin-bottom: -4px;
 }
 
 .flexible-container {
     display: flex;
     margin-bottom: 100px;
     justify-content: center;
 }
 
 h1 {
     font-size: 1.5em;
 }
 /* -----------------------------common css section ends */
 /* ----------------------------------Navbar starts here--------- */
 
 .navbar {
     display: flex;
     background-image: linear-gradient(to right, rgba(255, 0, 0, 0), rgba(255, 0, 0, 1));
 }
 
 .nav-logo {
     height: 44px;
     width: 44px;
     border-radius: 68%;
     padding-left: 10px;
     padding-right: 10px;
     /* background: radial-gradient(closest-side, #3f87a6, #ebf8e1, #f69d3c); */
     /* padding-bottom: 10px; */
     padding-top: 10px;
 }
 
 .nav-right {
     display: flex;
     /* background-color: red; */
     width: 80%;
 }
 
 .nav-right ul {
     display: flex;
 }
 
 .nav-right ul li {
     display: flex;
     justify-content: center;
     text-align: center;
     font-size: 900;
     font-weight: bolder;
     font-family: Verdana;
     /* padding: 30px; */
     /* padding-top: 8px;
     padding-right: 50px;
     padding-left: 50px; */
 }
 
 .nav-right ul li a {
     color: black;
     text-decoration: none;
     padding-top: 8px;
     padding-right: 50px;
     padding-left: 50px;
 }
 
 .nav-right li a:hover {
     color: white;
     box-shadow: 10px 10px 8px #777373;
 }
 
 .nav-left {
     display: flex;
     /* background-color: green; */
     width: 20%;
     padding: 25px;
 }
 
 .btn {
     background-image: linear-gradient(tomato, orange);
 }
 
 .btn:hover {
     background-image: linear-gradient(orange, tomato);
     box-shadow: 1px 3px 5px #0a0a0a;
 }
 /* -----------------------------first section starts here------------------- */
 
 .top-banner {
     background-image: linear-gradient(rgb(182, 137, 137), rgb(190, 195, 221), rgb(182, 182, 231));
     /* background-color: rgb(243, 246, 246); */
 }
 
 .right-div {
     width: 49%;
     padding-left: 19%;
 }
 
 .right-div p {
     width: 95%;
 }
 
 .left-div {
     width: 50%;
     padding-right: 3%;
 }
 
 #main-dp {
     height: 293px;
     width: 299px;
     border-radius: 50%;
     box-shadow: 10px 10px 8px #645e5e;
 }
 
 #main-dp:hover {
     cursor: hand;
     box-shadow: 10px 10px 8px #a39e9e;
 }
 
 .hire-me-link {
     text-decoration: none;
     background-image: linear-gradient(orange, tomato);
     padding: 5px 26px;
     color: whitesmoke;
     border: 1px solid tomato;
     font-weight: 700;
     border-radius: 5px;
     font-family: 'Spline Sans', sans-serif;
 }
 
 .hire-me-link:hover {
     color: black;
 }
 /* -------------------------------------second section starts here */
 
 .right-div-two {
     width: 49%;
     padding-left: 19%;
 }
 
 .left-div-two {
     width: 70%;
     padding-right: 3%;
 }
 
 #second-dp {
     height: 310px;
     width: 299px;
     border-radius: 50%;
     box-shadow: 10px 10px 8px #645e5e;
 }
 
 #second-dp:hover {
     box-shadow: 10px 10px 8px #777373;
 }
 
 .dream-big {
     padding: 15px;
     background-image: linear-gradient(rgb(182, 182, 231), rgb(214, 195, 214), rgb(151, 114, 114));
 }
 
 #dream-big-p {
     display: inline-block;
     width: 39 0px;
 }
 /* --------------------------------------Experience section starts here */
 
 .experiences {
     background-image: linear-gradient(rgb(151, 114, 114), rgb(214, 195, 214), rgb(197, 197, 238));
     /* background-image: linear-gradient(to right, rgb(243, 239, 239), rgb(149, 102, 102)); */
     padding-top: 1px;
 }
 
 #exp-heading {
     display: flex;
     justify-content: center;
     padding-right: 942px;
     color: black;
 }
 
 #exp-heading:hover {
     color: whitesmoke;
 }
 
 .right-div-exp {
     /* background-color: yellow;*/
     /* padding-right: 5%; */
     width: 40%;
     margin: 10px;
     padding: 21px 33px;
     box-shadow: 10px 10px 8px #888888;
     border-image: linear-gradient(tomato);
 }
 
 .right-div-exp:hover {
     box-shadow: 10px 10px 8px #645e5e;
 }
 
 .left-div-exp {
     /* background-color: yellow;*/
     /* padding-right: 5%; */
     width: 40%;
     margin: 10px;
     padding: 21px 33px;
     box-shadow: 10px 10px 8px #888888;
 }
 
 .left-div-exp:hover {
     box-shadow: 10px 10px 8px #645e5e;
 }
 
 #exp-border-one {
     border-left: 7px solid;
     border-image: linear-gradient(black, blue, white, blue, black);
     border-image-slice: 1;
 }
 
 #exp-border-one:hover {
     border-left: 7px solid;
     border-image: linear-gradient(black, white, tomato, orangered, black);
     border-image-slice: 1;
 }
 
 #exp-border-two {
     border-left: 7px solid;
     border-image: linear-gradient(black, white, tomato, orangered, black);
     border-image-slice: 1;
 }
 
 #exp-border-two:hover {
     border-left: 7px solid;
     border-image: linear-gradient(black, blue, white, blue, black);
     border-image-slice: 1;
 }
 /* -------------------------------footer starts here */
 
 .footer {
     background-color: black;
     color: white;
     text-align: center;
 }